.form{
    display: flex;
    flex-direction: column;
    height: 620px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset -5px -5px rgba(0, 0, 0, 0.7);
    border-radius: 25px;
}

.form h1{
    color: white;
    font-size: 2rem;
    border-bottom: 4px solid rgba(255, 255, 255, 0.7);
    margin: 20px;
}

.box{
    padding: 7px;
    margin: 10px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1rem;
}

#submit{
    padding: 10px 10px;
    margin-top: 10px;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1rem;
}

.myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .myVideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .myVideo{
        width: auto;
        height: 100%;
    }
}

.myImage{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:2/1){
    .myImage{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:2/1){
    .myImage{
        width: auto;
        height: 100%;
    }
}

.content{
    text-align: center;
}

.content h1{
    font-size: 80px;
    color: #fff;
    font-weight: 900;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px 40px;
    border-radius: 40px;
    margin-top: 20px;
}

.form input::placeholder{
    color: white;
    opacity: 0.5;
}